<!--
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

        <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="true"/>

        <!--  ************** Stage Simulator ***************  -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner)/stage/fve_map_carlike.world">
		<remap from="base_scan" to="scan"/>
  </node>

        <!--  ************** Navigation ***************  -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">

    <param name="footprint_padding" value="0.01" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->

    <param name="base_global_planner" value="SBPLLatticePlanner" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl)/matlab/mprim/rover.mprim" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/sbpl_global_params.yaml" command="load" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <rosparam file="$(find teb_local_planner)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

    <rosparam file="$(find sbpl_lattice_planner)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/local_costmap_params_close.yaml" command="load" />
    <rosparam file="$(find sbpl_lattice_planner)/launch/global_costmap_params.yaml" command="load" />
  </node>


	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner)/stage/maps/fve_map.yaml" output="screen">
		<param name="frame_id" value="/map"/>
	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
	<rosparam file="$(find teb_local_planner)/cfg/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="0.5"/>
		<param name="initial_pose_y"            value="0.5"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

	  <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find loco)/config/rviz_navigation_sbpl.rviz"/>

</launch>
