<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        
    <rosparam>
        fixed_frame: odom
        do_compute_covariance: 0
        publish_pose_with_covariance: false
        publish_pose_with_covariance_stamped: false
        
        max_iterations: 10
        epsilon_xy: 0.000001
        epsilon_theta: 0.000001

        max_correspondence_dist: 0.3
        max_angular_correction_deg: 20
        max_linear_correction: 0.5

        outliers_maxPerc: 0.9  # always discard worst 10% of correspondences

        use_imu: true
        use_odom: false
        use_vel: false

        # Keyframe selection (set either to 0 to disable keyframing)
        kf_dist_linear: 0.05
        kf_dist_angular: 0.02

    </rosparam>

    <remap from="imu/data" to="imu" />
  </node>

</launch>
