<launch>

        <!--  ************** Navigation ***************  -->
	<!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/teb_local_planner_params.yaml" command="load" />
                <rosparam file="$(find teb_local_planner_rover)/cfg/teb_local_planner/costmap_converter_params.yaml" command="load" />

		<param name="base_global_planner" value="navfn/NavfnROS" />
		<param name="planner_frequency" value="1.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="2.0" />
		<param name="controller_patience" value="15.0" />
		<param name="TebLocalPlannerROS/cmd_angle_instead_rotvel" value="False" />

	</node-->

        <node pkg="teb_local_planner_rover" name="cmd_vel_to_ackermann_drive" type="cmd_vel_to_ackermann_drive" />

</launch>
