<launch>
<!-- use argument for choosing yaml file for initial control-->
<!-- roslaunch traj_action_client.launch yaml:= ?init_control? -->
  <arg name="control" default="0mps_T150" />arg

<!--  <include file="$(find loco)/launch/openloop_sve.launch" /> -->

<!-- Start perception nodes-->
  <node pkg="kf_tracker" type="naive_detector" name="naive_detector" output="screen"/>

<!-- Load Planner configs from YAML -->
  <rosparam command="load" file="$(find ilqr_loco)/config/ilqr_params.yaml"/>
  <rosparam command="load" file="$(find ilqr_loco)/config/$(arg control).yaml"/>

<!-- Start planner client-server nodes-->
  <node pkg="ilqr_loco" type="traj_client" name="traj_client" output="screen"/>
  <node pkg="ilqr_loco" type="traj_server" name="traj_server" output="screen"/>

</launch>
