<launch>

<!--  <include file="$(find loco)/launch/openloop_sve.launch" /> -->

  <node pkg="lidartracking" type="naivedetector" name="naivedetector" output="screen"/>
  <node pkg="publishpcl" type="publishpcl" name="publishpcl" output="screen"/>

  <node pkg="ilqr_loco" type="traj_client" name="traj_client" output="screen"/>
  <node pkg="ilqr_loco" type="traj_server" name="traj_server" output="screen"/>

</launch>
