<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="Scan2Cloud" args="load publishpcl_nodelet/Scan2Cloud standalone_nodelet" output="screen">
    <!-- <remap from="/Plus/out" to="remapped_output"/> -->
  </node>

</launch>
