

<launch>

  <node pkg="multiple-object-tracking-lidar" name="KF_Tracker" type="catkin_ws7" output="screen"/>
  <node pkg="publishpcl" name="Publishpcl" type="catkin_ws2" output="screen"/>
  <node pkg="multiple-object-tracking-lidar" name="pcloud" type="catkin_ws9" output="screen"/>
  


</launch>
		
