<?xml version="1.0"?>

<launch>

  <include file="$(find loco)/launch/odometry.launch" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(find loco)/maps/fve_map.yaml" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="scan" value="scan" />
    <param name="odom_frame_id" value="odom" />

    <param name="recovery_alpha_slow" value="0.0005" />
    <param name="recovery_alpha_fast" value="0.1" />

    <param name="update_min_d" value="0.1" />
    <param name="update_min_a" value="0.1" />

    <param name="m" value="diff" />
    <param name="odom_alpha1" value="0.4" />
    <param name="odom_alpha2" value="0.4" />

    <param name="initial_cov_xx" value="0.125" /> <!-- originall 0.25 -->
    <param name="initial_cov_yy" value="0.125" />
    <param name="initial_cov_aa" value="0.5" />

  </node>

  <!-- node pkg="loco" name="amcl_globalinit" type="amcl_globalinit"/-->

</launch>
