<?xml version="1.0"?>

<launch>

  <include file="$(find loco)/launch/odometry.launch" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(find loco)/maps/lab.yaml" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="scan" value="scan" />
    <param name="odom_frame_id" value="scanmatcher_frame" />

    <!--
    <param name="initial_cov_xx" value="25.0" />
    <param name="initial_cov_yy" value="25.0" />
    <param name="initial_cov_aa" value="9.0" />
     -->

  </node>

</launch>
