<?xml version="1.0"?>

<launch>

<arg name="base2lidar_x" default="0.0"/> <!-- mm? x=105.0, z=126.0 -->
<arg name="base2lidar_y" default="0.0"/>
<arg name="base2lidar_z" default="0.0"/>

<!--
<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="$(arg base2lidar_x) $(arg base2lidar_y) $(arg base2lidar_z) 0 0 0 base_link laser 100"/>

<node pkg="imu_odom" type="odometry_publisher" name="odometry_publisher" output="screen" />
-->

<include file="$(find hector_mapping)/launch/hector_odom.launch" />

<arg name="lidar_path" default="/dev/ttyACM0/" />
<node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)"/>

<include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
	<param name="maxUrange" value="4.5" />
	<param name="linearUpdate" value="0.4" />
	<param name="angularUpdate" value="0.1" />
	<param name="srr" value="0.5" />
	<param name="stt" value="0.5" />
	<param name="maxRange" value="5.5" />
</node>

</launch>
