<?xml version="1.0"?>

<launch>

<include file="$(find loco)/launch/odometry.launch" />

<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
<!--	<param name="maxUrange" value="5.5" />
	<param name="maxRange" value="5.5" />
	<param name="minimumScore" value="50" />
	<param name="linearUpdate" value="0.2" />
	<param name="angularUpdate" value="0.25" />
	<param name="temporalUpdate" value="5.0" />
	<param name="delta" value="0.025" /> -->
	<!-- <param name="map_update_interval" value="1.0" /> -->

</node>

</launch>
