<launch>

        <!--  ************** Navigation ***************  -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    	  	<rosparam file="$(find teb_local_planner)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
    	 	<rosparam file="$(find teb_local_planner)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
    		<rosparam file="$(find teb_local_planner)/cfg/carlike/local_costmap_params.yaml" command="load" />
    		<rosparam file="$(find teb_local_planner)/cfg/carlike/global_costmap_params.yaml" command="load" />
    		<rosparam file="$(find teb_local_planner)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

  		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
  		<param name="planner_frequency" value="2.0" />
  		<param name="planner_patience" value="5.0" />

  		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
  		<param name="controller_frequency" value="20.0" />
  		<param name="controller_patience" value="15.0" />

                  <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
  	</node>

  <include file="$(find loco)/launch/amcl.launch" />

  <include file="$(find teleop_twist_joy)/launch/teensy_teleop.launch" />

  <include file="$(find robot_localization)/launch/ekf_state_estimate.launch" />

  <include file="$(find vesc_driver)/launch/vesc_driver_node.launch" /> 

<!-- <node pkg="loco" type="dist2goal" name="dist2goal_node" output="screen"/> -->


<!--   <node pkg="rosbag" type="record" name="rosbag_record_main"
     	args="record -a -O /home/ubuntu/catkin_ws/mostrecent.bag"/>
-->


</launch>
