<?xml version="1.0"?>

<launch>

  <arg name="imu" default="false" />
  <arg name="hector" default="true" />
  <arg name="csm" default="false" />

  <arg name="lidar_path" default="/dev/hokuyo" />

  <group if="$(arg imu)">
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />
    <node pkg="imu_odom" type="odometry_publisher" name="odometry_publisher" output="screen" />
  </group>

  <group if="$(arg hector)">
    <node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)"/>
    <include file="$(find loco)/launch/robot_tf.launch" />

    <include file="$(find hector_mapping)/launch/hector_odom.launch" />
  </group>

  <group if="$(arg csm)">
    <node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)"/>
    <include file="$(find loco)/launch/robot_tf.launch" />

    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
      <param name="fixed_frame" value="odom" />
      <param name="max_iterations" value="10" />
    </node>

  </group>

</launch>
