<?xml version="1.0"?>

<launch>

  <arg name="imu" default="false" />
  <arg name="hector" default="false" />
  <arg name="csm" default="true" />
  <arg name="cmd" default="false" />

  <!--  <arg name="lidar_path" default="/dev/hokuyo" /> -->
  <!--  <arg name="lidar_path" default="_serial_port:='/dev/hokuyo'" /> -->
  <arg name="lidar_path" default="_ip_address:=192.168.0.10" />

  <group if="$(arg imu)">
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />
    <node pkg="imu_odom" type="odometry_publisher" name="odometry_publisher" output="screen" />
  </group>

  <group if="$(arg hector)">
    <node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)"/>
    <include file="$(find loco)/launch/robot_tf.launch" />

    <include file="$(find hector_mapping)/launch/hector_odom.launch" />
  </group>

  <group if="$(arg csm)">
    <node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)"/>
    <include file="$(find loco)/launch/robot_tf.launch" />
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
      <rosparam>
        fixed_frame: odom
        do_compute_covariance: 0
        publish_pose_with_covariance: false
        publish_pose_with_covariance_stamped: false
        
        max_iterations: 10
        epsilon_xy: 0.000001
        epsilon_theta: 0.000001

        max_correspondence_dist: 0.3
        max_angular_correction_deg: 20
        max_linear_correction: 0.5

        outliers_maxPerc: 0.9  # always discard worst 10% of correspondences

        use_imu: true
        use_odom: false
        use_vel: false

        # Keyframe selection (set either to 0 to disable keyframing)
        kf_dist_linear: 0.02
        kf_dist_angular: 0.05

      </rosparam>

      <remap from="imu/data" to="imu" />
    </node>
  </group>

  <group if="$(arg cmd)">
    <include file="$(find loco)/launch/robot_tf.launch" />
    <node pkg="loco" type="cmd_vel_odom" name="cmd_vel_odom" args="$(arg lidar_path)"/>
  </group>

</launch>
