<?xml version="1.0"?>

<launch>

  <arg name="base2lidar_x" default="0.085"/> <!-- mm x=105.0, z=126.0 -->
  <arg name="base2lidar_y" default="0.0"/>
  <arg name="base2lidar_z" default="0.06852"/>

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster"
    args="$(arg base2lidar_x) $(arg base2lidar_y) $(arg base2lidar_z) 0 0 0 base_link laser 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_to_imu_broadcaster"
    args="0.01195 0 0.09556 0 0 0 base_link imu 100"/>

<!--  <node pkg="tf" type="static_transform_publisher" name="base_to_um7_broadcaster"
    args="0.01195 0 0.09556 0 0 0 base_link imu 100"/> -->

</launch>
