<launch>

<arg name="bag_path" default="/home/parallels/ros_bags/mst_test.bag" />

<include file="$(find loco)/launch/rviz.launch"/>

<param name="use_sim_time" value="true" />

  <node pkg="rosbag" type="play" name="rosbag_play"
    args="$(arg bag_path) --topics /scan /map /map_metadata /clock
    /move_base/global_costmap/costmap /move_base/local_costmap/costmap  /move_base/local_costmap/footprint
    /cmd_vel 
    -r 2" output="screen"/>

  <node pkg="loco" type="cmd_vel_odom" name="cmd_vel_odom" output="screen"/>
  <include file="$(find loco)/launch/robot_tf.launch" />
  <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(find loco)/maps/fve_map.yaml" /> -->


  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="scan" value="scan" />
    <param name="odom_frame_id" value="odom" />

    <param name="use_map_topic" value="true" /> <!-- only for bag -->
    <param name="save_pose_rate" value="5" />

    <!-- <param name="odom_model_type" value="diff-corrected" /> -->

    <param name="recovery_alpha_slow" value="0.0005" />
    <param name="recovery_alpha_fast" value="0.1" />

    <param name="update_min_d" value="0.1" />
    <param name="update_min_a" value="0.1" />

    <param name="m" value="diff" />
    <param name="odom_alpha1" value="0.4" />
    <param name="odom_alpha2" value="0.4" />

    <param name="initial_cov_aa" value="0.5" />

    <!-- <param name="odom_alpha3" value="0.2" />
    <param name="odom_alpha4" value="0.2 " /> -->

    <!-- <param name="max_particles" value="10000" /> -->
    <!-- <param name="kld_err" value="0.005" />
    <param name="kld_z" value="0.995" /> -->

    <!-- <param name="m" value="diff-corrected" />
    <param name="update_min_d" value="0.1" />
    <param name="update_min_a" value="0.1" />

    <param name="odom_alpha1" value="0.005" />
    <param name="odom_alpha2" value="0.005" />
    <param name="odom_alpha3" value="0.010" />
    <param name="odom_alpha4" value="0.005" /> -->

    <!-- <param name="initial_cov_xx" value="25.0" />
    <param name="initial_cov_yy" value="25.0" /> -->

  </node>

  <!-- <include file="$(find loco)/launch/rviz.launch" /> -->

  <!-- <node pkg="loco" name="amcl_eval" type="amcl_score.py" output="screen"/> -->

  <!-- <node pkg="loco" name="amcl_globalinit" type="amcl_globalinit" /> -->

</launch>
